The content below is only a placeholder and can be replaced.

<meta name="viewport" content="width=device-width, initial-scale=5.0">
<h2>Shop Cart</h2>

<header>
    <h2>Amozon Shop</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a routerLink="/electronic">Electronics</a></li>
            <li><a routerLink="/sports">Sports</a></li>
            <li><a routerLink="/grocery">Grocerry</a></li>

        </ul>
    </nav>
    <article>
        <router-outlet></router-outlet>
    </article>
</section>
<footer>
    <p>Footer</p>
</footer>